.title{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: normal;
	font-weight: normal;
	font-size: 27px;
	line-height: 41px;
}
.black-title{
	font-weight: bold;
	font-size: 44px;
	line-height: 54px;
	color: #1D262D;
}
.orange-title{
	margin-top:30px;
	color: #DC3900; 
}
.orange-sub-title{
	margin-top:30px;
	font-weight: bold;
	color: #DC3900;
}
.post-notes h5{
	margin-bottom: 14px;
}
.pink-title{
	font-size: 25px;
	line-height: 34px;
	margin-bottom: 14px;
	color: #B2384A;
}
.pink-sub-title{
	font-weight: bold;
	font-size: 27px;
	line-height: 33px;
	margin-top: 44px;
	margin-bottom: 28px;
	color: #B2384A;
}
.gold-title{
	font-size: 25px;
	line-height: 34px;
	margin-bottom: 14px;
	color: #1d262d; 
}
.gold-sub-title{
	font-size: 25px;
	color: #FFF3B6;
}
.title-bio-pink{
	line-height: 54px;
	font-weight: bold;
	font-size: 44px;
	color: #C60053;
}
.title-bio-blue{
	line-height: 54px;
	font-weight: bold;
	font-size: 44px;
	color: #00ACCD;
}
.home-post p{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	line-height: 32px;

	margin: 20px 0;
	color: #292929;
}
.post-notes p{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
	margin-bottom: 20px;
}
.post-notes span{
	font-family: Open Sans;
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	line-height: 16px;
	color: #DC3900;
}
.img-note > p{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 11px;
	line-height: 15px;
	text-transform: uppercase;
	color: #1D262D;
}
.post-date p, .post-date span{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	line-height: 41px;
	color: #5C5C5C; 
}
.post-date span{
	font-size: 35px;
}
.post-ul{
	font-family: Georgia, 'Times New Roman', Times, serif;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	line-height: 32px;
	color: #292929;
}

@media only screen and (max-width: 868px) {
	/*hidden desktop*/
	.dk{
		display:none;
	}
	.post-content .post-title-pink{
		font-family: Charter;
		font-style: normal;
		font-weight: normal;
		font-size: 25px;
		line-height: 34px;
		margin-bottom: 14px;
		color: #B2384A;
	}

	.title{
		font-family: Charter;
		font-style: normal;
		font-weight: normal;
		font-size: 27px;
		line-height: 41px;
	}
	.orange-title{
		margin-top:30px;
		color: #DC3900; 
	}
	.orange-sub-title{
		margin-top:30px;
		font-weight: bold;
		color: #DC3900;
	}
	.post-notes h5{
		margin-bottom: 14px;
	}
	.pink-title{
		font-size: 25px;
		line-height: 34px;
		margin-bottom: 14px;
		color: #B2384A;
	}
	.pink-sub-title{
		font-weight: bold;
		font-size: 27px;
		line-height: 33px;
		margin-top: 44px;
		margin-bottom: 28px;
		color: #B2384A;
	}
	.gold-title{
		font-size: 25px;
		line-height: 34px;
		margin-bottom: 14px;
	}
	.gold-sub-title{
		font-size: 25px;
		color: #FFF3B6;
	}
	.title-bio-pink{
		line-height: 54px;
		font-weight: bold;
		font-size: 44px;
		color: #C60053;
	}
	.title-bio-blue{
		line-height: 54px;
		font-weight: bold;
		font-size: 44px;
		color: #00ACCD;
	}
	.post-notes p{
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 12px;
		line-height: 16px;
		margin-bottom: 20px;
	}
	.post-notes span{
		font-family: Open Sans;
		font-style: normal;
		font-weight: bold;
		font-size: 12px;
		line-height: 16px;
		color: #DC3900;
	}
	.img-note > p{
		display: flex;
		justify-content: center;
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 11px;
		line-height: 15px;
		text-transform: uppercase;
		color: #1D262D;
	}
	.img-note > p{
		display: flex;
		justify-content: center;
		font-family: Open Sans;
		font-style: normal;
		font-weight: normal;
		font-size: 11px;
		line-height: 15px;
		text-transform: uppercase;
		color: #1D262D;
	}
	.home-post p{
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		line-height: 32px;
		margin: 20px 0;
		color: #292929;
	}
	.p-wnarde{
		font-family: Georgia;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		line-height: 150.6%;
		color: #292929;
	}
	.post-date p{
		font-size: 0.9em;
	}
}
