.wnarde{
	background-image:  url('/assets/images/about/wagverse.png') ;
	background-position: center top;
	background-repeat:no-repeat;
	background-color: #FBFFF1;
}
#banner1post{
	background:
	url(..//assets/images/banners/C_4.png),
	linear-gradient(180deg, rgba(252,249,247,1) 0%, rgba(208,147,205,0.6) 20%, rgba(252,249,247,1) 64%);
	background-repeat: no-repeat;
	background-position: center top;
}
#banner2post{
	background: linear-gradient(180deg, rgba(251,255,241,1) 0%, rgba(224,228,230,1) 6%, rgba(124,123,186,0.5) 15%, rgba(252,249,247,1) 27%);
}
#banner5post{
	background:linear-gradient(180deg, rgba(226,114,102,1) 0%, rgba(250,167,121,1) 25%, rgba(218,96,96,1) 34%, rgba(252,249,247,1) 57%);
}
@media only screen and (max-width: 868px) {
	/*hidden desktop*/
	.dk{
		display:none;
	}
	.wnarde{
		background-image:  url('/assets/images/about/wagverse_m.png') ;
		background-position: center top;
		background-repeat:no-repeat;
		background-size: contain;
		background-color: #FBFFF1;
	}
}
