<footer>
  <section class="dk">
    <div class="footer-row">
      <div class="footer-time f1 center space-between row">
        <div class="cl-effect-5 row center">
          <span class="icon icon-media_articles"></span>
          <a href="#"><span class='post-type' data-hover="artigo">artigo</span></a>
        </div>
        <p>JULHO de 2019</p>
        <div class="row center footer-hour">
          <p>05:00 </p>
          <span class="icon icon-recent_w"></span>
        </div>
      </div>
      <div class="row f2">
        <div class="cl-effect-5 footer-middle center row ">
          <span class="icon icon-cat_software"></span>
          <a href="#"><span class="post-resume" data-hover="Arquitetura de software">Arquitetura de software</span></a>
        </div>
        <div class="footer-end center row">
          <ul class="row cl-effect-5">
            <li><a href="#"><span data-hover="backend">backend</span></a></li>
            <li><a href="#"><span data-hover="ruby">ruby</span></a></li>
            <li><a href="#"><span data-hover="tutorial">tutorial</span></a></li>
          </ul>
          <span class="icon icon-tag"></span>
        </div>
      </div>
    </div>
  </section>
  <section class="mb">
    <div class="footer-row">
      <div class="row footer-start">
        <div class="center row">
          <span class="icon icon-media_articles"></span>
          <p>artigo</p>
        </div>
        <div class="footer-time center row">
          <p class="auto">JULHO de 2019</p>
          <p>5:00 </p>
          <span class="icon icon-recent_w"></span>
        </div>
      </div>
      <div class="footer-end center row">
        <div class="center row ">
          <span class="icon icon-cat_software"></span>
          <p>Arquitetura de software</p>
        </div>
        <div class="row center">
          <p>3</p>
          <span class="icon icon-tag"></span>
        </div>
      </div>
    </div>
  </section>
</footer>