<head>
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap" rel="stylesheet">
  <script src="" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/fonts.css">
  <link rel="stylesheet" href="/assets/css/main.css">

  <link rel="stylesheet" href="/assets/css/un4icons/style.css">
  <link rel="stylesheet" href="/assets/css/posts/flex.css">
  <link rel="stylesheet" href="/assets/css/posts/style.css">
  <link rel="stylesheet" href="/assets/css/posts/text.css">
  <link rel="stylesheet" href="/assets/css/posts/player.css">
  <link rel="stylesheet" href="/assets/css/posts/backgrounds.css">

  <link rel="stylesheet" href="/assets/css/banners/flex.css">
  <link rel="stylesheet" href="/assets/css/banners/style.css">
  <link rel="stylesheet" href="/assets/css/banners/text.css">
  <link rel="stylesheet" href="/assets/css/banners/backgrounds.css">

  <link rel="stylesheet" href="/assets/css/nav/flex.css">
  <link rel="stylesheet" href="/assets/css/nav/style.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-569PZEB6T3"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-569PZEB6T3');
  </script>
</head>
