.tright{
	z-index: 7;
	background-repeat: no-repeat;
	background-position: right;
	width: 112px;
	height: 19px;
	position: fixed;
	right : 0;
	top: 15%;
	padding: 250px 33px;
}
.tleft{
	z-index: 7;
	background-repeat: no-repeat;
	background-position: left;
	width: 112px;
	height: 19px;
	position: fixed;
	left: 0;
	top: 15%;
	padding: 250px 33px;
}

.home-text{
	justify-content:space-between;
}
.home-text img{
	height:610px;
	margin: auto;
}
.text-b0 img{
	height: auto;
	position: absolute;
}
.text-ba img{
	position:absolute;
}
.text-ba{
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9;
}
.text-ba img{
	position:absolute;
}
.banner-central{
	z-index: 8;
}
.banner-text{
	z-index: 9;
}
.banner-base div{
	position: absolute;
	display: flex;
	align-items: center; 
	justify-content: center;
}
.psico2{
	position: absolute;
}

.psico1{
	position: absolute;
	width: 527px;
	height: 214px;
}

.rocket1 , .rocket2{
	position: absolute;
	width: 800px;
}
.code1, .code2{
	position: absolute;
}

.cto1, .cto2{
	position: absolute;
	width: 270px;
}
.gatlin1{
	position: absolute;
	width: 500px;
}
.timezone2{
	position: absolute;
}
.timezone1{
	width: 460px;
	position: absolute;
}
.remoto2, .remoto1{
	position: absolute;
	width: 100px;
}
.remoto3{
	position: absolute;
}
.rotate{
	transform: rotate(-34deg);
}
.banner-content{
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
}
/*footer*/
.footer-row {
	display: flex;
	justify-content: flex-start;
}
.footer-end{
	flex: 1;
	align-items: center;
}
.home-text{
	display: flex;
	align-items: center;
	justify-content: center;
}
.final-link{
	align-items: stretch;
}
.back-nav{
	position: absolute;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
}
.back-nav h3{
	font-family: Open Sans;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 20px;
	text-transform: uppercase;
	color: #939393;
}
@media only screen and (max-width: 868px) {
	/*hidden desktop*/
	.dk{
		display:none;
	}
	.rocket1 , .rocket2{
		width: 240px;
	}
	.cto1, .cto2{
		width: 220px;
	}
	.gatlin1{
		width: 220px;
	}
	.banner-img{
		width:-webkit-fill-available;
	}
}
